<div class="main-container">
  <section class="editor-node">
    <div class="editor-head-container">
      <h2>Редактирование записи</h2>
      <a routerLink="/" class="button-exit">
        <img src="../../assets/images/exit.svg" width="30px" height="30px" alt="Выйти">
      </a>
    </div>
    <form action="#" method="post">
      <textarea name="change-node" [(ngModel)]="node.text" cols="50" rows="10"></textarea>
      <button routerLink="/" class="button-node-save">Сохранить</button>
    </form>
  </section>
</div>
